<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flymr92gmail.sejonghangugeo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            />
        <activity
            android:name=".LessonActivity"
            android:theme="@style/LessonTheme" />
        <activity
            android:name=".EditLessonActivity"
            android:theme="@style/LessonTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CardActivity"
            android:theme="@style/LessonTheme" />
        <activity
            android:name=".activities.LearnActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/LessonTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".activities.LearnResult"
            android:theme="@style/LessonTheme" />
        <activity
            android:name=".activities.LearnFinalResult"
            android:configChanges="orientation|screenSize"
            android:theme="@style/LessonTheme" />
        <activity
            android:name=".activities.BookActivity"
            android:theme="@style/BookTheme"
             />
        <activity
            android:name=".activities.LegendsActivity"
            android:theme="@style/LessonTheme" />
        <activity
            android:name=".activities.TestActivity"
            android:theme="@style/BookTheme"
            android:label="@string/title_activity_test"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flymr92gmail.sejonghangugeo.activities.BookActivity" />
        </activity>
        <activity android:name=".activities.PreviewActivity" />
        <activity
            android:name=".activities.GramBookActivity"
             />
        <activity android:name=".activities.ListeningActivity"
            android:theme="@style/BookTheme"
            android:windowSoftInputMode="adjustResize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flymr92gmail.sejonghangugeo.activities.BookActivity" />

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="12" />
    </application>

</manifest>